@model User

@{    
    ViewBag.Title = "Account Settings";
    Layout = "_Layout";
}

<div>
    <b> <p>Username</p> </b>
    <a>@Model.Username</a>
    
    <hr/>
    
    <b> <p>Phone</p> </b>
    <a>@Model.PhoneNumber</a>
    
    <hr/>

    <b> <p>Email</p> </b>
    <a>@Model.Email</a>
    
    <hr/>
    
    <b> <p>Account creation</p> </b>
    <a>@Model.CreatedOn</a>
</div>
