@using PostIt.Web.Enums
@model User

@{
    ViewBag.Title = "Account Settings";
    Layout = "_Layout";
}

@if(!User.Identity.IsAuthenticated)
{
    <h3>Start by creating an account</h3>
    return;
}

<h3 class="text-center">@Model.Username</h3>
<p>What you want to do?</p>

<ul>
    @if(Model.AccountType != EAuthType.Google) {
    <li>
        <div>
            <a asp-controller="Account" asp-action="UpdatePassword">Change password</a>
        </div>
    </li>
    }

    <li>
        <div>
            <a asp-controller="Account" asp-action="UpdateUsername">Change Username</a>
        </div>
    </li>

    <li>
        <div>
            <a asp-controller="Account" asp-action="UpdatePhoneNumber">Change/Add PhoneNumber</a>
        </div>
    </li>

    <li>
        <div>
            <a asp-controller="Account" asp-action="BlockedUsers">Blocked Users</a>
        </div>
    </li>
    <li>
        <div>
            <input type="button" onclick="clearCookies();" value="Clear Cookies">
        </div>
    </li>
</ul>

<script>
function clearCookies() {
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";

        console.log('cleared the cookies')
    }
}
</script>