@model PostIt.Web.Dtos.Smtp.BugRequest

@{
    ViewBag.Title = "Found a bug?";
    Layout = "_Layout";
}

<h2>Found a bug?</h2>

<h4>If you found a bug please report it via email or: <a href="https://github.com/Projekt-Z/PostIt/issues">on GitHub</a></h4>

<form asp-action="Issues">

    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="Email" class="form-control" type="text" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Subject</label>
        <input asp-for="Subject" class="form-control" type="text" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label class="control-label">Content</label>
        <input asp-for="Body" class="form-control" type="text" />
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
    
</form>
<p>@ViewData["Message"]</p>