@using PostIt.Web.Dtos.AccountActions
@model ChangePasswordRequest

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword">

            <input asp-for="Id" value="@Model.Id" hidden class="form-control" />

            <div class="form-group">
                <label class="control-label">Old Password</label>
                <input asp-for="CurrentPassword" class="form-control" type="password" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">New Password</label>
                <input asp-for="NewPassword" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
