@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PostIt.Web.Dtos.Authentication.UserLoginRequest

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<h2>Log In</h2>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Email or Username</label>
        <input asp-for="EmailOrRUsername" class="form-control" />
        <span asp-validation-for="EmailOrRUsername" Title="text-danger"></span>
        
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>