@using PostIt.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IUserService _userService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PostIt</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/PostIt.Web.styles.css" asp-append-version="true"/>
    <style>
        .sticky {
          position: fixed;
          top: 0;
          width: 100%;
        }
        
        .sticky + .content {
          padding-top: 60px;
        }
        
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PostIt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                    </li>
                </ul>
                
                <a>
                    @using (Html.BeginForm("Index", "Chat", FormMethod.Get))
                    {
                        <input type="submit" value="✉"/>
                    }
                </a> &nbsp;

                <a>
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        <input type="text" id="search_text" name="q" placeholder="Search..."/>
                        <input type="submit" value="🔎"/> 
                    }
                </a> &nbsp;
                
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name">
                        <img src="@_userService.GetByUsername(User.Identity.Name).ImageUrl" alt="Profile Picture" width="30" height="30" class="rounded-circle"> 
                    </a>   
                }

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    @if(!User.Identity.IsAuthenticated) 
    {
        <div id="auth_false" style="background-color: lightblue; width: 100%; height: auto; padding: 10px; text-align: center;">
            You are not logged in. <a asp-action="Index" asp-controller="Home">Log In or Create new account</a>
        </div>
    }
    <div class="container">
        &copy; 2022 - PostIt.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");
var main = document.querySelector("main")

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
    main.style.marginTop = '100px'
    
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>