@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}

@if (Context.User.Identity.IsAuthenticated)
{
    // TODO: This where all the posts will be displayed if user IsAuthenticated 
    
    <div class="text-center">
        <h1 class="display-4">Welcome @Context.User.Identity.Name !</h1>
        
        <p>
            <a asp-controller="Authentication" asp-action="GoogleLogout">Log out</a>
        </p>
        
        <div>
            <textarea cols="10" rows="5"></textarea>
            
            <button type="submit">Send post</button>
        </div>
        
        <div class="main-posts">
            @foreach (var post in Model)
            {
                <h4>@post.Title</h4>

                <p>@post.Description</p>
                <a>@post.TimeAdded</a>
                <hr/>
            }
        </div>
        
    </div>
}
else
{
    <p class="text-center">Please
    
        <a asp-controller="Authentication" asp-action="GoogleLogin">Log In</a>
        
        in order to use this App
    </p>
}

